<div class="container">
  <div *ngIf="user && user.id; else elseBlock">
    Hello, {{ user.name }}
  </div>

  <ng-template #elseBlock>
    <div class="shadow p-3 mb-5 bg-white rounded login-block">
      <div class="login-inner-block">
        <p class="login-form">
          <a href="/auth/facebook">
            <fa-icon class="login-button" [icon]="faFacebook"></fa-icon>acebook Sign-On
          </a>
        </p>
        <p class="login-form">
          <a href="/auth/google">
            <fa-icon class="login-button" [icon]="faGoogle"></fa-icon>oogle Sign-On
          </a>
        </p>
      </div>
    </div>
  </ng-template>

</div>
