/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assets/alcohol-background-citrus.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 50px;
}
